<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaweb.hhjrp.dao.AdminDao">

    <update id="changeShopInform">
        update shop t
        <set>
            <if test=" name != null">
                name = #{name},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="oldPrice != null">
                old_price = #{oldPrice},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="other != null">
                other = #{other},
            </if>
        </set>
        where t.ID = #{ID}
    </update>
<!--    <select id="getAllShop" resultType="com.javaweb.hhjrp.model.Shop">-->
<!--        select a.*,b.sortname-->
<!--        from shop a-->
<!--            LEFT JOIN sort b ON a.sort=b.sortID-->
<!--        WHERE cast(a.ID as char) LIKE '%#{id}%'  limit #{limit} offset #{offset}-->
<!--    </select>-->

</mapper>
